
  body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    h1 { 
        margin: 2em;
        text-align: center;
        color: brown;
        &:hover{
        color: red;
       
       }
    }   
       a{    
        display: flex;
        justify-content: center;
        margin: 2em;
        text-decoration: none;
        
    }

        #bouton {
            display: flex;
            justify-content: center;
        }
    
    div{
        .foo{
            color:activecaption;
            background-color: lightpink;
            &-bar{
                color: bisque;
                background-color: chocolate;
            }
        }
    }
    
}

