
  body {
    background-color: goldenrod;
    h1 {
       text-align: center;
       color: brown;
       &:hover{
        color: khaki;
       }
    }
  }

div{
    a{
        &:hover,&.class{
            background: lightgoldenrodyellow;
        }
    }
    div{
        .foo{
            color:activecaption;
            background-color: lightpink;
            &-bar{
                color: bisque;
                background-color: chocolate;
            }
        }
    }
    p a{ 
        font{
            size: 1.2em;
            weight: bold;
            family:serif; 
        }
    }
}

