
  body {
    background-color: white;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   

    h1 { 
        margin: 2em;
        text-align: center;
        color: brown;
        &:hover{
        color: red;
        }
        }   
       a{    
        display: flex;
        justify-content: center;
        margin: 2em;
        text-decoration: none;
        color: red;

        
    }

        #bouton {
            display: flex;
            justify-content: center;
            
        }
        
        button {
            border: dotted yellow;
            border-radius: 10px;
        }
    
    }
    

